body{
    background-image:url(https://wallpapercave.com/wp/wp9844257.jpg);
    background-size: cover;
    
}


h3{
    color: yellow;
    font-family: 'Libre Baskerville', serif;
}
.navbar{
    background:rgba(0,0,0,0.384) ;

}
.navbar ul li{
    margin:0 8px;
    list-style: none;
    display: inline-block;
    line-height: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    /* padding: 2px 2px; */
    font-family: 'roboto',sans-serif;
    
}
.navbar ul li a:hover{
    background: black;
} 
