*{
    padding: 0;
    margin: 0;
}
.wrapper{
     background: url(https://wallpapercave.com/wp/wp9844257.jpg); 
     background-size: cover;
    height: 100vh;
    margin: 0;
}
.navbar{
    height: 80px;
    width:100%;
    background:rgba(0, 0, 0, 0.384);
    
}
.navbar ul{
    float:right;
    margin-left:700px;
    

}
.navbar ul li{
    margin:0 8px;
    list-style: none;
    display: inline-block;
    line-height: 80px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 2px 2px;
    font-family: 'roboto',sans-serif;
}
.navbar ul li a:hover{
    background: rgb(0, 0, 0);
    border-radius: 2px;
    
}
